{% schema %}

{
  "name": "wishlist",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Wishlist page",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class="page-width">
  <h1>My Wishlist</h1>

  {%- comment -%} Контейнер, в який JS буде малювати список {%- endcomment -%}
  <div id="wishlist-root"></div>
</div>




